<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">
    <meta content="LCIlFlxOaCYfPDdRGiMAPywgZDMdEwEYnaGn4c_m-Tec_BdGzkTB0jNi" name="csrf-token">
    <title>Carbonoz Solarpilot</title>
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap" rel="stylesheet">
    </noscript>
    <link phx-track-static rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/message.css">
    <link rel="manifest" href="/manifest.json">

    <script defer phx-track-static type="text/javascript" src="/js/app-ed5fb725b2323e6c326d78d689c148ae.js?vsn=d"></script>
    <script defer phx-track-static type="text/javascript" src="/js/vendor/echarts.min-c5ef426b883db4257694b21b88257a57.js?vsn=d"></script>
    <style>
        .table-container {
            margin: 0 auto; 
            width: 80%; 
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>
<body class="with-header">
<div class="header">
    <div class="container">

            <div class="logo"><h1> <span style="color: red;">Carbonoz</span> Solarpilot</h1></div>
    
        <div class="menu">
            <!-- Menu items here -->
            <a href="/status" class="menu-item" data-phx-link="redirect" data-phx-link-state="push">
                <div class="item-img" style="background-image: url(/images/tabs/dashboard-fe6236ddd7c826e9f469babe7dee6705.svg?vsn=d);"></div>
                <span class="item-caption">Dashboard</span>
            </a>
            <a href="/charts" data-iframe="/grafana/d/sa-charts?kiosk=tv" class="menu-item">
                <div class="item-img" style="background-image: url(/images/tabs/chart-34fb756a097dde6fe750a40b934affdc.svg?vsn=d);"></div>
                <span class="item-caption">Charts</span>
            </a>
            <a href="/analytics" class="menu-item" data-phx-link="redirect" data-phx-link-state="push">
                <div class="item-img" style="background-image: url(/images/tabs/totals-e8345009cbaf91c5842f3bb7500afb79.svg?vsn=d);"></div>
                <span class="item-caption">Analytics</span>
            </a>
            <a href="/messages" class="menu-item" data-phx-link="redirect" data-phx-link-state="push">
                <div class="item-img" style="background-image: url(/images/tabs/power-60ba709da78825327d4c97c37e46da40.svg?vsn=d);"></div>
                <span class="item-caption">Messages</span>
            </a>
            <a href="/settings" class="menu-item" data-phx-link="redirect" data-phx-link-state="push">
                <div class="item-img" style="background-image: url(/images/tabs/config-2b0dc6769e27cd4f705e08033cdec960.svg?vsn=d);"></div>
                <span class="item-caption">Settings</span>
            </a>
        </div>
    </div>
</div>

<h1 style="text-align: center;font-weight: bold;">Analytics</h1>
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Load</th>
                <th>Solar PV</th>
                <th>Battery Charged</th>
                <th>Battery Discharged</th>
                <th>Grid Used</th>
                <th>Grid Exported</th>
            </tr>
        </thead>
        <tbody>
            <% data.loadPowerData.forEach((row, index) => { %>
                <tr>
                    <td><%= new Date(row.time).toLocaleDateString() %></td>
                    <td><%= (row.value / 1000).toFixed(2) %>kWh</td>
                    <td><%= (data.pvPowerData[index].value / 1000).toFixed(2) %>kWh</td>
                    <td><%= (data.batteryPowerData[index].value > 0 ? (data.batteryPowerData[index].value / 1000).toFixed(2) : 0) %>kWh</td>
                    <td><%= (data.batteryPowerData[index].value < 0 ? (-data.batteryPowerData[index].value / 1000).toFixed(2) : 0) %>kWh</td>
                    <td><%= (data.gridPowerData[index].value > 0 ? (data.gridPowerData[index].value / 1000).toFixed(2) : 0) %>kWh</td>
                    <td><%= (data.gridPowerData[index].value < 0 ? (-data.gridPowerData[index].value / 1000).toFixed(2) : 0) %>kWh</td>
                </tr>
            <% }) %>
            <% // Add a new row for the next day %>
        
        </tbody>
    </table>
</div>

</body>
</html>
